<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>contact Page</title>
  </head>
  <body>
    <div id="content" class="text-center text-2xl mt-10">
        <div th:if="${session.message != null}">
            <div th:text="${session.message.content}"
              th:classappend="'text-' + ${session.message.type}" class="text-center mb-4 text-red-600"></div>
          </div>
    </div>
    <script>
      console.log("verification_success page");
    </script>
  </body>
</html>
